# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*.auto.tfvars
terraform/backend.hcl

# Node
app/node_modules/
app/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
*.pem
*.key
